.caja1{
    border: 1.5px solid black;
    background: #808080;
    width: 100px;
    height: 100px;
    }
.contenedor{
    margin-top: 5px;
    border: 1.5px solid black;
    background: #808080;
    width: 348px;
    height: 125px;
    position: relative;
    }

.caja2{
    border: 1.5px solid black;
    background: #808080;
    width: 100px;
    height: 100px;
    position: relative;
    margin-top: 10px;
    margin-left:10px;
    float: left;
    }

.caja3 {
    border: 1.5px solid black;
    background: #808080;
    width: 100px;
    height: 100px;
    position: relative;
    margin-top: 10px;
    margin-left:1px;
    margin-right: 10px;
    float: left;
    }

.caja4{
    border: 1.5px solid black;
    background: #808080;
    width: 100px;
    height: 100px;
    margin-top: 125px;

    }